In [21]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from numpy import nan

# File to Load (Remember to Change These)
school_data_to_load = "PyCitySchools/Resources/schools_complete.csv"
student_data_to_load = "PyCitySchools/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [22]:
schools=school_data_complete['school_name'].nunique()
schools

15

In [23]:
students=school_data_complete['school_name'].count()
students

39170

In [24]:
budget=school_data_complete.drop_duplicates('school_name').budget.sum()
budget

24649428

In [25]:
ave_read_score=school_data_complete.reading_score.mean()
ave_read_score

81.87784018381414

In [26]:
ave_math_score=school_data_complete.math_score.mean()
ave_math_score

78.98537145774827

In [27]:
combined_score_district= (ave_math_score+ave_read_score)/2
combined_score_district

80.43160582078121

In [28]:
math_pass= school_data_complete.school_name.loc[school_data_complete['math_score']>69]
math_pass_perc=(math_pass.count())/students*100
math_pass_perc

74.9808526933878

In [29]:
read_pass= school_data_complete.school_name.loc[school_data_complete['reading_score']>69]
read_pass_perc=(read_pass.count())/students*100
read_pass_perc

85.80546336482001

In [30]:
district_summary=pd.DataFrame({
    'Number of Schools': [schools],
    'Total Number of Students': [students],
    'Total Budget' : [budget],
    'Average Reading Score': [ave_read_score],
    'Average Math Score' : [ave_math_score],
    'Average Combined Score' : [combined_score_district],
    'Percentage of Passing Math' :  [math_pass_perc],
    'Percentage of Passing Reading' : [read_pass_perc],
})

district_summary

,Number of Schools,Total Number of Students,Total Budget,Average Reading Score,Average Math Score,Average Combined Score,Percentage of Passing Math,Percentage of Passing Reading
0,15,39170,24649428,81.87784,78.985371,80.431606,74.980853,85.805463

In [31]:
district_school_data_frame=school_data_complete.groupby(['school_name', 'type'])
students=district_school_data_frame['student_name'].count()
students

school_name            type
Bailey High School     District    4976
Cabrera High School    Charter     1858
Figueroa High School   District    2949
Ford High School       District    2739
Griffin High School    Charter     1468
Hernandez High School  District    4635
Holden High School     Charter      427
Huang High School      District    2917
Johnson High School    District    4761
Pena High School       Charter      962
Rodriguez High School  District    3999
Shelton High School    Charter     1761
Thomas High School     Charter     1635
Wilson High School     Charter     2283
Wright High School     Charter     1800
Name: student_name, dtype: int64

In [32]:
budget=school_data_complete.drop_duplicates('size').groupby(['school_name', 'type']).budget.sum()
budget

school_name            type
Bailey High School     District    3124928
Cabrera High School    Charter     1081356
Figueroa High School   District    1884411
Ford High School       District    1763916
Griffin High School    Charter      917500
Hernandez High School  District    3022020
Holden High School     Charter      248087
Huang High School      District    1910635
Johnson High School    District    3094650
Pena High School       Charter      585858
Rodriguez High School  District    2547363
Shelton High School    Charter     1056600
Thomas High School     Charter     1043130
Wilson High School     Charter     1319574
Wright High School     Charter     1049400
Name: budget, dtype: int64

In [33]:
perstudent_budget=(budget/students)
perstudent_budget

school_name            type
Bailey High School     District    628.0
Cabrera High School    Charter     582.0
Figueroa High School   District    639.0
Ford High School       District    644.0
Griffin High School    Charter     625.0
Hernandez High School  District    652.0
Holden High School     Charter     581.0
Huang High School      District    655.0
Johnson High School    District    650.0
Pena High School       Charter     609.0
Rodriguez High School  District    637.0
Shelton High School    Charter     600.0
Thomas High School     Charter     638.0
Wilson High School     Charter     578.0
Wright High School     Charter     583.0
dtype: float64

In [34]:
school_math=school_data_complete.groupby(['school_name', 'type']).math_score.mean()
school_math

school_name            type
Bailey High School     District    77.048432
Cabrera High School    Charter     83.061895
Figueroa High School   District    76.711767
Ford High School       District    77.102592
Griffin High School    Charter     83.351499
Hernandez High School  District    77.289752
Holden High School     Charter     83.803279
Huang High School      District    76.629414
Johnson High School    District    77.072464
Pena High School       Charter     83.839917
Rodriguez High School  District    76.842711
Shelton High School    Charter     83.359455
Thomas High School     Charter     83.418349
Wilson High School     Charter     83.274201
Wright High School     Charter     83.682222
Name: math_score, dtype: float64

In [35]:
school_read=school_data_complete.groupby(['school_name', 'type']).reading_score.mean()
school_read

school_name            type
Bailey High School     District    81.033963
Cabrera High School    Charter     83.975780
Figueroa High School   District    81.158020
Ford High School       District    80.746258
Griffin High School    Charter     83.816757
Hernandez High School  District    80.934412
Holden High School     Charter     83.814988
Huang High School      District    81.182722
Johnson High School    District    80.966394
Pena High School       Charter     84.044699
Rodriguez High School  District    80.744686
Shelton High School    Charter     83.725724
Thomas High School     Charter     83.848930
Wilson High School     Charter     83.989488
Wright High School     Charter     83.955000
Name: reading_score, dtype: float64

In [36]:
school_average=(school_math+school_read)/2 
school_average

school_name            type
Bailey High School     District    79.041198
Cabrera High School    Charter     83.518837
Figueroa High School   District    78.934893
Ford High School       District    78.924425
Griffin High School    Charter     83.584128
Hernandez High School  District    79.112082
Holden High School     Charter     83.809133
Huang High School      District    78.906068
Johnson High School    District    79.019429
Pena High School       Charter     83.942308
Rodriguez High School  District    78.793698
Shelton High School    Charter     83.542589
Thomas High School     Charter     83.633639
Wilson High School     Charter     83.631844
Wright High School     Charter     83.818611
dtype: float64

In [37]:
school_math_pass = school_data_complete.loc[school_data_complete['math_score']>69].groupby(['school_name', 'type'])
school_math_pass_perc=(school_math_pass['school_name'].count())/students*100
school_math_pass_perc

school_name            type
Bailey High School     District    66.680064
Cabrera High School    Charter     94.133477
Figueroa High School   District    65.988471
Ford High School       District    68.309602
Griffin High School    Charter     93.392371
Hernandez High School  District    66.752967
Holden High School     Charter     92.505855
Huang High School      District    65.683922
Johnson High School    District    66.057551
Pena High School       Charter     94.594595
Rodriguez High School  District    66.366592
Shelton High School    Charter     93.867121
Thomas High School     Charter     93.272171
Wilson High School     Charter     93.867718
Wright High School     Charter     93.333333
dtype: float64

In [38]:
school_read_pass = school_data_complete.loc[school_data_complete['math_score']>69].groupby(['school_name', 'type'])
school_read_pass_perc=(school_math_pass['Student ID'].count())/students*100
school_read_pass_perc

school_name            type
Bailey High School     District    66.680064
Cabrera High School    Charter     94.133477
Figueroa High School   District    65.988471
Ford High School       District    68.309602
Griffin High School    Charter     93.392371
Hernandez High School  District    66.752967
Holden High School     Charter     92.505855
Huang High School      District    65.683922
Johnson High School    District    66.057551
Pena High School       Charter     94.594595
Rodriguez High School  District    66.366592
Shelton High School    Charter     93.867121
Thomas High School     Charter     93.272171
Wilson High School     Charter     93.867718
Wright High School     Charter     93.333333
dtype: float64

In [39]:
school_average_pass=(school_read_pass_perc+school_math_pass_perc)/2
school_average_pass

school_name            type
Bailey High School     District    66.680064
Cabrera High School    Charter     94.133477
Figueroa High School   District    65.988471
Ford High School       District    68.309602
Griffin High School    Charter     93.392371
Hernandez High School  District    66.752967
Holden High School     Charter     92.505855
Huang High School      District    65.683922
Johnson High School    District    66.057551
Pena High School       Charter     94.594595
Rodriguez High School  District    66.366592
Shelton High School    Charter     93.867121
Thomas High School     Charter     93.272171
Wilson High School     Charter     93.867718
Wright High School     Charter     93.333333
dtype: float64

In [40]:
school_dict={
    'Number of Students': students,
    'School Budget': budget,
    'Budget per Student':perstudent_budget,
    'Average Math Score': school_math,
    'Average Reading Score' : school_read,
    'Average Combined Score': school_average,
    'Percentage of Students Passing Math': school_math_pass_perc,
    'Percentage of Students Passing Reading': school_read_pass_perc,
    'Percentage of Combined Passing' : school_average_pass
}

school_summary = pd.DataFrame(school_dict)
school_summary

,,Number of Students,School Budget,Budget per Student,Average Math Score,Average Reading Score,Average Combined Score,Percentage of Students Passing Math,Percentage of Students Passing Reading,Percentage of Combined Passing
school_name,type,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,79.041198,66.680064,66.680064,66.680064
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,83.518837,94.133477,94.133477,94.133477
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,78.934893,65.988471,65.988471,65.988471
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,78.924425,68.309602,68.309602,68.309602
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,83.584128,93.392371,93.392371,93.392371
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,79.112082,66.752967,66.752967,66.752967
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,83.809133,92.505855,92.505855,92.505855
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,78.906068,65.683922,65.683922,65.683922
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,79.019429,66.057551,66.057551,66.057551
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,83.942308,94.594595,94.594595,94.594595
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,78.793698,66.366592,66.366592,66.366592
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,83.542589,93.867121,93.867121,93.867121
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,83.633639,93.272171,93.272171,93.272171
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,83.631844,93.867718,93.867718,93.867718
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,83.818611,93.333333,93.333333,93.333333

In [41]:
school_summary.dtypes

Number of Students                          int64
School Budget                               int64
Budget per Student                        float64
Average Math Score                        float64
Average Reading Score                     float64
Average Combined Score                    float64
Percentage of Students Passing Math       float64
Percentage of Students Passing Reading    float64
Percentage of Combined Passing            float64
dtype: object

In [42]:
sorted_schools=school_summary.sort_values('Percentage of Combined Passing', ascending=False)
sorted_schools

,,Number of Students,School Budget,Budget per Student,Average Math Score,Average Reading Score,Average Combined Score,Percentage of Students Passing Math,Percentage of Students Passing Reading,Percentage of Combined Passing
school_name,type,,,,,,,,,
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,83.942308,94.594595,94.594595,94.594595
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,83.518837,94.133477,94.133477,94.133477
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,83.631844,93.867718,93.867718,93.867718
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,83.542589,93.867121,93.867121,93.867121
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,83.584128,93.392371,93.392371,93.392371
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,83.818611,93.333333,93.333333,93.333333
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,83.633639,93.272171,93.272171,93.272171
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,83.809133,92.505855,92.505855,92.505855
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,78.924425,68.309602,68.309602,68.309602
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,79.112082,66.752967,66.752967,66.752967
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,79.041198,66.680064,66.680064,66.680064
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,78.793698,66.366592,66.366592,66.366592
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,79.019429,66.057551,66.057551,66.057551
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,78.934893,65.988471,65.988471,65.988471
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,78.906068,65.683922,65.683922,65.683922

In [43]:
sorted_schools.head()

,,Number of Students,School Budget,Budget per Student,Average Math Score,Average Reading Score,Average Combined Score,Percentage of Students Passing Math,Percentage of Students Passing Reading,Percentage of Combined Passing
school_name,type,,,,,,,,,
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,83.942308,94.594595,94.594595,94.594595
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,83.518837,94.133477,94.133477,94.133477
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,83.631844,93.867718,93.867718,93.867718
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,83.542589,93.867121,93.867121,93.867121
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,83.584128,93.392371,93.392371,93.392371

In [44]:
sorted_schools.tail()

,,Number of Students,School Budget,Budget per Student,Average Math Score,Average Reading Score,Average Combined Score,Percentage of Students Passing Math,Percentage of Students Passing Reading,Percentage of Combined Passing
school_name,type,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,79.041198,66.680064,66.680064,66.680064
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,78.793698,66.366592,66.366592,66.366592
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,79.019429,66.057551,66.057551,66.057551
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,78.934893,65.988471,65.988471,65.988471
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,78.906068,65.683922,65.683922,65.683922

In [45]:
#Reading Scores by Grade
ninth_grade_read = school_data_complete.loc[school_data_complete["grade"] =="9th"].groupby("school_name")
["reading_score"]
tenth_grade_read = school_data_complete.loc[school_data_complete["grade"] =="10th"].groupby("school_name")
["reading_score"]
eleventh_grade_read = school_data_complete.loc[school_data_complete["grade"] =="11th"].groupby("school_name")
["reading_score"]
twelfth_grade_read = school_data_complete.loc[school_data_complete["grade"] =="12th"].groupby("school_name")
["reading_score"]
read_score_by_grade = pd.DataFrame({"9th": ninth_grade_read.reading_score.mean(),
                                    "10th": tenth_grade_read.reading_score.mean(),
                                    "11th": eleventh_grade_read.reading_score.mean(),
                                    "12th": twelfth_grade_read.reading_score.mean()
                                    
                                   })

In [46]:
#School Performance by Spending Category
spending_bins = [0, 594, 635, 641, 675]
group_names = ["0-594", "594-635", "635-641", "641-675"]
spending_df=pd.DataFrame(school_data_complete)
spend_budget=spending_df['budget']
spend_size=spending_df['size']
spend_per_student=(spend_budget/spend_size)
spending_df['Spending Per Student']=spend_per_student
spending_df["Spending Ranges"] = pd.cut(spending_df['Spending Per Student'], spending_bins, labels=group_names)
spend_math_loc=spending_df.loc[spending_df['math_score']>69].groupby(['Spending Ranges'])
spend_read_loc=spending_df.loc[spending_df['reading_score']>69].groupby(['Spending Ranges'])
reduced_spend=spending_df.groupby('Spending Ranges')
spend_math=reduced_spend.math_score.mean()
spend_read=reduced_spend.reading_score.mean()
bin_counts=spending_df["Spending Ranges"].value_counts()
spend_math_pass=(spend_math_loc.math_score.count()/bin_counts)*100
spend_read_pass=(spend_read_loc.reading_score.count()/bin_counts)*100
bin_combo_pass=(spend_math_pass+spend_read_pass)/2
final_spend_frame=pd.DataFrame({
    'Average Math Score': spend_math, 
    'Average Reading Score': spend_read,  
    'Proportion of Students Passing Math': spend_math_pass, 
    'Proportion of Students Passing Reading': spend_read_pass, 
    'Proportion of Combined Passing': bin_combo_pass
})
final_spend_frame

,Average Math Score,Average Reading Score,Proportion of Students Passing Math,Proportion of Students Passing Reading,Proportion of Combined Passing
Spending Ranges,,,,,
0-594,83.363065,83.964039,93.702889,96.686558,95.194724
594-635,79.982873,82.312643,79.109851,88.513145,83.811498
635-641,78.050332,81.478038,71.361995,83.653734,77.507864
641-675,77.058995,80.958411,66.609088,80.779963,73.694526

In [47]:
spend_math_loc.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Spending Per Student
Spending Ranges,,,,,,,,,,,,
0-594,5967,5967,5967,5967,5967,5967,5967,5967,5967,5967,5967,5967
594-635,7252,7252,7252,7252,7252,7252,7252,7252,7252,7252,7252,7252
635-641,6125,6125,6125,6125,6125,6125,6125,6125,6125,6125,6125,6125
641-675,10026,10026,10026,10026,10026,10026,10026,10026,10026,10026,10026,10026

In [48]:
#School Performance by School Size
size_bins = [0, 1000, 2000, 5000]
size_group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
size_df=pd.DataFrame(school_data_complete)
size_df["Size Ranges"] = pd.cut(spending_df['size'], size_bins, labels=size_group_names)
size_math_loc=size_df.loc[size_df['math_score']>69].groupby(['Size Ranges'])
size_read_loc=size_df.loc[size_df['reading_score']>69].groupby(['Size Ranges'])
reduced_size=size_df.groupby('Size Ranges')
size_math=reduced_size.math_score.mean()
size_read=reduced_size.reading_score.mean()
size_bin_counts=size_df["Size Ranges"].value_counts()
size_math_pass=(size_math_loc.math_score.count()/size_bin_counts)*100
size_read_pass=(size_read_loc.reading_score.count()/size_bin_counts)*100
size_bin_combo_pass=(size_math_pass+size_read_pass)/2
final_size_frame=pd.DataFrame({
    'Average Math Score': size_math, 
    'Average Reading Score': size_read,  
    'Proportion of Students Passing Math': size_math_pass, 
    'Proportion of Students Passing Reading': size_read_pass, 
    'Proportion of Combined Passing': size_bin_combo_pass
})
final_size_frame

,Average Math Score,Average Reading Score,Proportion of Students Passing Math,Proportion of Students Passing Reading,Proportion of Combined Passing
Large (2000-5000),77.477597,81.198674,68.652380,82.125158,75.388769
Medium (1000-2000),83.372682,83.867989,93.616522,96.773058,95.194790
Small (<1000),83.828654,83.974082,93.952484,96.040317,94.996400

In [49]:
#School Performance by Type
type_df=pd.DataFrame(school_data_complete)
type_math_loc=type_df.loc[type_df['math_score']>69].groupby(['type'])
type_read_loc=type_df.loc[type_df['reading_score']>69].groupby(['type'])
reduced_type=type_df.groupby('type')
type_math=reduced_type.math_score.mean()
type_read=reduced_type.reading_score.mean()
type_bin_counts=type_df["type"].value_counts()
type_math_pass=(type_math_loc.math_score.count()/type_bin_counts)*100
type_read_pass=(type_read_loc.reading_score.count()/type_bin_counts)*100
type_bin_combo_pass=(type_math_pass+type_read_pass)/2
final_type_frame=pd.DataFrame({
    'Average Math Score': type_math, 
    'Average Reading Score': type_read,  
    'Proportion of Students Passing Math': type_math_pass, 
    'Proportion of Students Passing Reading': type_read_pass, 
    'Proportion of Combined Passing': type_bin_combo_pass
})
final_type_frame

,Average Math Score,Average Reading Score,Proportion of Students Passing Math,Proportion of Students Passing Reading,Proportion of Combined Passing
type,,,,,
Charter,83.406183,83.902821,93.701821,96.645891,95.173856
District,76.987026,80.962485,66.518387,80.905249,73.711818